<main class="container-fluid main-center">
  <form action="/login" method="POST" class="forms">
    <div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
  <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Username is abod">
</div>
    <div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
  <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Password is abc123">
</div>
      <input  class="btn btn-success width-fill" type="submit" value="Login" />
    </div>
  </form>
</main>