<main class="container-fluid main-normal">
  <h2 class="text-center">Welcome Abdulmalek's shows list website!</h2>
  <br class="container-margin-side p-dark col-9">In this website you will see admins'
    suggestions of movies, tv-shows, and anime. You can add add yours as well. </br>To get started you can open choose what suggestion type do you need, you cannot add suggestions in movies, tv-shows, and animes. However, you can add suggestions in the "your suggestions" tab wethout a need for login.</br> In the login page you will find the login account in the form, use it to test the app out </p>
</main>